* {
    box-sizing: border-box;
    /* border: 0.2px dashed blue; */
    margin: 0px;
    padding: 0px;

}

.ticket{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 100%;
    align-self: center;
    justify-self: center;
}
.tickets__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-around;
}

.single__ticket {
    display: flex;
    flex-direction: row;
    width: 90%;
    background-color: white;
    border-radius: 10px;
}
.ticket__info, .ticket__number{
    font-size: large;
    padding: 5px;
}

.ticket__number-info{
    display: flex;
    flex-direction: row;
    margin: 0px;
}

.ticket__number-container, .ticket__name-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.ticket__number, .ticket__name{
    background-color: rgb(85, 38, 129);
    padding: 3px;
    font-size: 50px;
    text-shadow: 2px 3px 5px grey;
    border-radius: 10px;
    text-align: center;
    color: white;
    width: 50%;
}
.ticket__name {
    font-size: 30px;
    background-color: white;
    color: rgb(85, 38, 129);
    border: 1px solid rgb(85, 38, 129);
    text-shadow: none;
}

.ticket__queue-info{
    display: flex;
    flex-direction: column;
}

.queue-number{
    color:rgb(85, 38, 129);
    margin: 0px;
}
.single__ticket--info, .single__ticket--buttons{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
}
.single__ticket--buttons{
    justify-content: space-around;
    align-items: center;
}
 .ticket__status{
    margin-top:10px;
    text-align: center;
}
.status{
    color: white;
    padding: 5px;
    background-color: rgb(85, 38, 129);
}

.ticket__title{
    text-align: center;
}
.button--cancel{
    align-self:center;
}
.queue__header{
    text-align: center;
}

.info-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: rgb(218, 218, 218);
}
