.store-title{
    font-size: 20px; 
    text-align: center;
}
.store__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 80vh;
    background-color: white;
    /* background: linear-gradient(60deg, rgb(246, 246, 246) 80%, rgb(159, 131, 171) 50%); */
}

.customer-form-container{
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-input {
    height: 40px;
    padding:5px;
    margin: 8px;
    border: none;
    max-width: 450px;
    

    box-shadow: 2px 2px 1px inset rgb(192, 192, 192);
    border-radius: 3px;
}

.wide-form-input {
    width: 90%;
    max-width: 1200px;
  }