* {
    box-sizing: border-box;
    /* border: 0.5px dashed blue; */
    margin: 0px;
    padding: 0px;

}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
body {
    background-color: rgb(112, 50, 61);
}
.list__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background: linear-gradient(45deg, rgb(233, 233, 233) 92%, rgb(95, 36, 118) 50%);
    /* background: linear-gradient(to right, #f2fcfe, #d0d0d0);  */
}
h1 {
    margin: 10px;
}

.store-title{
    color:white;
    padding:30px;
    margin: 20px;
    font-size: 60px;
}

.restaurant-card, .ticket {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 3px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(108, 108, 108);
    max-width: 90vw;
    align-self: center;

    /* box-shadow: 5px 10px 5px rgb(215, 215, 215); */
    cursor: pointer;
}
.restaurant-card{
    margin: 20px auto 0;
    max-width: 400px;
    
}
/* First in list (needs margin from header) */
/* .list__container a:first-child {
    margin-top: 40px;
} */
.restaurant-card__footer {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 10px 0px;
}


.restaurant-card__queue {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    height:fit-content;
    color: rgb(253, 253, 253);
    /* background-color: rgb(101, 80, 121); */
    border-radius: 5px;
    padding: 0px 4px;
    /* justify-content: center; */
    align-items: center;
    /* text-align: center; */
}
.restaurant-card__text{
    padding: 5px 5px;
    font-size: 15px;
    color: rgb(85, 38, 129);
    text-align: center;
    margin: 2px;
    height: fit-content;
}
.restaurant-card__text--address{
    color: rgb(146, 146, 146);
}

.restaurant-card__text--queue{
    background-color: rgb(85, 38, 129);
    border-radius: 6px;
    color: white;
    padding: 3px 8px;
}
.restaurant-card__text--q-info{
    color: rgb(109, 109, 109);
    width: fit-content;
    margin-right: 0px;
}

.restaurant-card__description {
    padding: 10px 10px;
    font-size: large;
}

.restaurant-card__image{
  
    align-self: center;
    max-height: 300px;
    width: 100%;
    border-radius: 20px;
}
.card__header{
    width: 100%;
    margin-top: 0;
    text-align: center;
    background-color: #c0d9e4;
    box-shadow: 0px 5px 10px rgba(67, 67, 67, 0.2);
    padding: 10px;
    position: sticky;
    top: 0px;
    border-radius: 0px 0px 10px 10px;
}
/* It's the only thing I know!
*relatively speaking. I still don't know shit about css */
/* i wanna do css too, idk shit lmao, need my safe space*/
.formContainer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border-radius: 2px;
    background-color: antiquewhite;
}
.formContainer > * {
    padding: 5px;
    width: 100%;
}
.detail--card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(243, 183, 183);
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    font-size: large;
    border: 1px;
    width: 300px;
}
/* .ticket{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    background-color: azure;
    width: 100%;
    max-width: 400px;
} */
.tickets__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    justify-content: space-around;
    padding: 10px;
}
.ticket{
    width: 90%;
    align-self: center;
    justify-self: center;
}
.single__ticket {
    display: flex;
    flex-direction: row;
    width: 90%;
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
.ticket__info, .ticket__number-info, .ticket__number, .button--cancel{
    font-size: large;
    padding: 20px;
    margin: 20px;
}
.button{
    background-color: rgb(68, 229, 73);
    font-size: 15px;
    width: 90%;
    height: 50px;
    color: white;
    padding: 15px;
    margin: 15px;
    border: none;
    border-radius: 20px;
    box-shadow: 5px 4px 4px rgb(195, 195, 195);
    cursor: pointer;
}
.button--cancel{
    background-color: rgb(250, 98, 123);
    width: 60%;
}
.ticket__number-container, .ticket__name-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.ticket__number, .ticket__name{
    background-color: blueviolet;
    font-size: 50px;
    padding: 10px;
    margin:5px;
    text-shadow: 2px 3px 5px grey;
    border-radius: 10px;
    text-align: center;
    color: white;
    width: 50%;
    height: 80px;
    margin: 0 auto;
}
.ticket__name {
    font-size: 30px;
    background-color: white;
    color: blueviolet;
    border: 1px solid blueviolet;
    text-shadow: none;
}
.single__ticket--info, .single__ticket--buttons{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
}
.single__ticket--buttons{
    justify-content: space-around;
    align-items: center;
}
 .ticket__status{
    margin-top:10px;
    text-align: center;
}
.ticket__title{
    text-align: center;
}
.button--cancel{
    align-self:center;
}
.queue__header{
    text-align: center;
}

.store__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 80vh;
    background-color: ;
}

.customer-form{
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.customer-form__input{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customer-form__name, .customer-form__number {
    height: 40px;
    padding:5px;
    margin: 8px;
    border: none;
    width: 50%;

    box-shadow: 2px 2px 1px inset rgb(192, 192, 192);
    border-radius: 3px;
}
.customer-form__btn{
    width: 50%;
}
