/* ticketList */
/* * {border: 1px dashed blue} */
h3{
    text-align: center;
}

.queue-info-card{
    cursor: auto;
    border: none;
}

.column--your-queue-status{
    width: 40%;
    margin:10px;
}

.column-your-queue-ticket-number{
    justify-content: center;
}

.single__ticket {
    display: flex;
    flex-direction: row;
    width: 90%;
    background-color: white;
    border-radius: 10px;
}

.ticketlist--display{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    color: rgb(100,100,100);
    font-size: 20px;
    padding: 5px;
    width: 100%;
    margin-top: -15px;
    
}


.queue__header{
    text-align: center;
}
.ticket__title{
    text-align: center;
}

.your-queue-number-text{
    font-size: 30px;
}

@media (hover: hover) {
    
    .queue-info-card:hover {
      border: none;
    }
}