@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

.about-us {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    font-size: 28px;
    font-family: 'Abel', sans-serif;
    line-height: 1.4;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 460px;
}

.about-us__title {
    font-size: 48px;
    margin-bottom: .5rem;
    margin-top: 3rem;
}

.about-us-img__photo{
    background-color: #b9eff8;
    padding-right: 74%;
    padding-bottom: 8%;
    
}

.about__wrapper {
    display: flex;
    flex-direction: column;
    /* margin: 1em; */
}

.about__upperSection {
       
    margin: 10px 0;
   
}
.about__upperSection p{
    color:rgb(46, 46, 46);
    font-size: 28px;
    margin-bottom:4px;  

}

.about__lowerSection {
    width: 100%;
    height: 22vh;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    /* margin: 1em; */
    padding: .3em;
}

.about__apollo{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 300px;
    margin: 1%;
    
}
.apollo__icon {
    font-size: 1.5em;
    margin: 0.5em;
}

.apollo-img {
    height: 170px;
    border-radius: 50%;
    width: 65%;
}

.apollo-name {
    font-size: 20px;
    color: rgb(85, 38, 129);
}


@media only screen and (min-width: 601px) and (max-width: 900px){


.about__upperSection {
    font-size: 28px;    /* changed */
}
.apollo-img {
    height: 140px;
    border-radius: 50%;
    width: 40%;
}


.apollo__icon {
    font-size: 2em;
}

.apollo-name {
    font-size: 28px;

}

}

@media only screen and (min-width: 901px) {

    .about__apollo {
       margin: 1%;   
    }

    
    .about__upperSection {
        font-size: 28px;   
    }
    
    .apollo-name {
        font-size: 28px;
    
    }
}

@media only screen and (max-width: 860px) {

    .about__apollo {
        width: 70%;
        margin: 20px 0;
    }
    .apollo-img {
        height: 140px;
        border-radius: 50%;
        width: 40%;
    }
    
    .about__upperSection {
       
        margin: 10px 0;
       
    }
    .about__upperSection p{
        color:rgb(50, 50, 50);
        font-size: 28px;
        margin-bottom:4px;  

    }
    .apollo-name {
        font-size: 28px;
    
    }
}
